/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>



/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        display-name = "Default Layer";
                        bindings = <


&kp GRAVE           &kp N1          &kp N2          &kp N3          &kp N4              &kp N5          &kp N6              &kp N7          &kp N8              &kp N9          &kp N0            &kp MINUS       &kp EQUAL       &kp BSLH        
&kp TAB         &kp Q           &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O           &kp P           &kp BSPC            &kp LBKT        &kp RBKT        &kp HOME        
&mo 1               &kp A           &kp S           &kp D           &kp F           &kp G           &kp H           &kp J           &kp K           &kp L                   &kp RET                 &kp SEMI        &kp SQT         &kp PAGE_UP     
&kp LSHFT                   &kp Z           &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &mt RSHFT DOT       &kp UP              &kp FSLH        &kp DOT         &kp PAGE_DOWN   
&tdsw               &kp LCMD            &kp LCTRL           &kp SPACE            &rgb_ug RGB_TOG          &rgb_ug RGB_ON         &rgb_ug RGB_BRI          &mo 2               &kp LEFT        &kp DOWN        &kp RIGHT           &kp EQUAL       &kp END         

                        
                        >;
                };


                cap_layer {
                        display-name = "Cap Layer";
                        bindings = <

&kp ESC             &kp F1          &kp F2          &kp F3          &kp F4              &kp F5          &kp F6              &kp F7          &kp F8              &kp F9          &kp F10             &kp F11         &kp F12         &none           
&none           &none           &kp PAGE_UP     &kp UP          &kp PAGE_DOWN   &none           &none          &none        &none          &none           &none           &kp BSPC            &kp DEL         &none           &trans          
&trans              &none           &kp LEFT        &kp DOWN        &kp RIGHT       &none           &none           &none           &none           &none                   &kp RET                       &none           &none           &trans          
&trans                      &kp HOME        &kp DOWN        &kp END         &none           &none           &none           &none           &none           &none               &kp UP              &none           &none           &trans          
&trans              &trans              &trans              &trans                  &trans          &trans              &trans              &trans              &kp LEFT        &kp DOWN        &kp RIGHT           &none           &trans          


                        >;
                };


                shift_layer {
                        display-name = "Shift Layer";
                        bindings = <


&kp LS(GRAVE)       &kp EXCL        &kp LS(N2)      &kp LS(N3)      &kp LS(N4)          &kp LS(N5)      &kp LS(N6)          &kp LS(N7)      &kp LS(N8)          &kp LS(N9)      &kp LS(N0)          &kp LS(MINUS)   &kp LS(EQUAL)   &kp LS(BSLH)    
&trans          &kp LS(Q)       &kp LS(W)       &kp LS(E)       &kp LS(R)       &kp LS(T)       &kp LS(Y)       &kp LS(U)       &kp LS(I)       &kp LS(O)       &kp LS(P)       &kp DEL             &kp LS(LBKT)    &kp LS(RBKT)    &trans          
&trans              &kp LS(A)       &kp LS(S)       &kp LS(D)       &kp LS(F)       &kp LS(G)       &kp LS(H)       &kp LS(J)       &kp LS(K)       &kp LS(L)               &trans                  &kp LS(SEMI)    &kp LS(SQT)     &trans          
&trans                      &kp LS(Z)       &kp LS(X)       &kp LS(C)       &kp LS(V)       &kp LS(B)       &kp LS(N)       &kp LS(M)       &kp LS(COMMA)   &kp LS(DOT)         &kp LC(UP)          &kp LS(FSLH)    &kp LS(DOT)     &trans          
&trans              &trans              &trans              &trans                  &trans          &trans              &trans              &trans              &kp LC(LEFT)    &kp LC(DOWN)    &kp LC(RIGHT)       &trans          &trans          
                       
                        
                        >;
                };


        };

        behaviors {
                tdsw: tap_dance_0 {
                        compatible = "zmk,behavior-tap-dance";
                        #binding-cells = <0>;
                        tapping-term-ms = <200>;
                        bindings = <&kp LALT>, <&kp LC(SPACE)>;
                };
        };

        combos {
                compatible = "zmk,combos";
                combo_del {
                timeout-ms = <50>;
                key-positions = <25 64>;
                bindings = <&kp DEL>;
        };
    };
                
};
